/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Raleway:wght@400;500;700&display=swap");

body {
  font-family: "Open Sans", sans-serif !important;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #f1f1f1;
  color: #000;
}

/*SETTEOS GENERALES */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif !important;
  font-weight: 400;
  margin: 0;
}

.display-2 {
  font-size: 2rem;
}

@media (min-width: 576px) {
  .display-2 {
    font-size: 5rem;
  }
}

.display-3 {
  font-size: 1.6rem;
}
@media (min-width: 576px) {
  .display-3 {
    font-size: 3rem;
  }
}

p,
span,
small {
  font-family: "Open Sans", sans-serif !important;
}

.overline {
  font-family: "Open Sans", sans-serif !important;
  text-transform: uppercase;
  font-size: 0.6875rem;
  letter-spacing: 1.5px;
}

button,
input,
optgroup,
select,
textarea {
  font-family: "Open Sans", sans-serif !important;
  font-size: 0.875rem !important;
}

.jumbotron {
  margin-bottom: 0 !important;
}

/* RESETS de browser */
::-moz-selection {
  /* RESET Firefox */
  color: #fff;
  background: #7532fe;
}

::selection {
  color: #fff;
  background: #7532fe;
}

/* TEXTO - Colores */
.text-grey {
  color: #808080;
}

.text-purple {
  color: #480357;
}

.text-lightpurple {
  color: #7532fe;
}

.text-orange {
  color: #ffcb05;
}

.text-green {
  color: #00e640;
}

.text-pink {
  color: #f62459;
}

.text-lightblue {
  color: #3a539b;
}

/* FONDOS */
.bg_blue {
  background-color: #182c61;
}

.bg_purple {
  background-color: #480357;
}

.bg_lightgreen {
  background-color: #58dbac;
}

.bg_white {
  background-color: #fff;
}

/* CTA */
a {
  color: #0275d8;
  cursor: pointer;
}

a:focus,
a:hover {
  color: #58dbac !important;
}

.btn {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 30px;
  border-radius: 25px;
  transition: 0.3s ease-in-out !important;
}

.btn:hover {
  text-decoration: none;
  transform: translateY(-5px);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.12),
    0px 8px 8px 0px rgba(0, 0, 0, 0.12), 0px 16px 16px 0px rgba(0, 0, 0, 0.12);
}

.btn-primary {
  color: #fff;
  background-color: #182c61;
  border-color: #182c61;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #58dbac;
  background: #121a2e;
  border-color: #121a2e;
}

.btn-primary:active {
  color: #fff;
  background: #0275d8;
  border-color: #0275d8;
}

.btn-outline-primary {
  color: #fff;
  border-color: #fff;
  border-width: 2px;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  color: #58dbac;
  background: transparent;
  border-color: #58dbac;
}

.btn-outline-primary:active {
  color: #0275d8;
  background: transparent;
  border-color: #0275d8;
}

.btn-outline-secondary {
  color: #480357;
  border-color: #480357;
  border-width: 2px;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
  color: #743c78 !important;
  background: transparent;
  border-color: #743c78;
}

/* BREADCRUMB */
.breadcrumb {
  background-color: transparent;
  font-size: 0.875rem;
}

.breadcrumb .breadcrumb-item.active {
  color: #fff;
}

/* FOOTER */
footer {
  background: #743c78;
  color: #fff;
  font-size: 0.6875rem;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px -1px 2px 0px rgba(0, 0, 0, 0.12), 0px -4px 4px 0px rgba(0, 0, 0, 0.12),
    0px -1px 8px 0px rgba(0, 0, 0, 0.12), 0px 0px 16px 0px rgba(0, 0, 0, 0.12),
    0px 0px 32px 0px rgba(0, 0, 0, 0.12);
}

footer a {
  color: #fff;
}

footer li {
  margin-bottom: 0.5em;
}

/* HOME */
.cwa-main .intro {
  background: url("../img/personitas.png") #182c61 no-repeat bottom right;
  background-size: 100%;
}

.cwa-main .intro p {
  margin-bottom: 4em;
}

@media (min-width: 576px) {
  .cwa-main .intro p {
    max-width: 40%;
  }

  .cwa-main .intro {
    background-position: bottom right;
    background-size: 60% auto;
  }
}

.feature.skrew {
  background: linear-gradient(168deg, #ffffff 55%, #58dbac 0);
}

/* CONTACTO */
.contact-box {
  min-height: 80vh;
  background: url(../img/background_dots.png) transparent no-repeat bottom left;
}

@media (min-width: 576px) {
  .contact-box {
    background-size: 50% auto;
  }
}

label {
  color: #fff;
}

.form-control {
  background-color: rgb(255 255 255 / 0.65);
  border: 2px solid #fff;
  color: #000;
}

.form-control-lg {
  padding: 1.5rem;
}

.is-invalid input,
.is-invalid textarea {
  color: #dc3232;
  border-color: #dc3232;
  border-radius: 5px 5px 0 0;
}

.is-invalid small {
  background: #dc3232;
  color: #fff;
  width: 100%;
  display: block;
  padding: 0.5em;
  border-radius: 0 0 5px 5px;
}

/* JELPER */
.card.featured {
  background: #480357;
  color: #ffffff;
}

.table_section .price strong {
  font-size: 2rem;
}

.table_section .price small {
  display: block;
  font-size: 0.75rem;
}

.table_section li {
  padding: 0.5em 0;
}

/* BBVA */
.bbva_content .hero {
  background: url("../img/bbva_landing.png") #182c61 no-repeat bottom right;
  background-size: 100%;
  padding-bottom: 10em !important;
}

@media (min-width: 576px) {
  .bbva_content .hero {
    background-size: 50% auto;
  }
}

.card_section {
  position: relative;
}

.card_section .card {
  margin-bottom: 5em;
}

.card_section a {
  position: absolute;
  bottom: 1em;
  left: 0;
  width: 100%;
}
